<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Manager - All Tasks</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/costume.css}" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Task List</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="container mt-4">
    <h1>Todo List</h1>

    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th>Priority</th>
            <th>Name</th>
            <th>Status</th>
            <th>Created Timestamp</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td>
                 <span th:switch="${task.priority}">
                     <!-- LOW priority icon -->
                     <i th:case="${T(fairsource.demo.taskmanagement.models.Priority).LOW}"
                        class="bi bi-arrow-down-circle text-info"
                        title="Low Priority">LOW</i>

                     <!-- NORMAL priority icon -->
                     <i th:case="${T(fairsource.demo.taskmanagement.models.Priority).NORMAL}"
                        class="bi bi-dash-circle text-secondary"
                        title="Normal Priority">NORMAL</i>

                     <!-- URGENT priority icon -->
                     <i th:case="${T(fairsource.demo.taskmanagement.models.Priority).URGENT}"
                        class="bi bi-exclamation-triangle-fill text-danger"
                        title="Urgent Priority">URGENT</i>
                 </span>
            </td>
            <td th:text="${task.name}"></td>
            <td>

                <form th:if="${!task.done}" th:action="@{/tasks/markDone}" method="post" style="display: inline;">
                    <input type="hidden" name="id" th:value="${task.id}"/>
                    <button type="submit" class="btn btn-primary">Open</button>
                    <div class="tooltip">
                        <span class="tooltiptext">Click to change state</span>
                    </div>
                </form>

                <form th:if="${task.done}" th:action="@{/tasks/markOpen}" method="post" style="display: inline;">
                    <input type="hidden" name="id" th:value="${task.id}"/>
                    <button type="submit" class="btn btn-success" disabled>Done</button>
                    <div class="tooltip">
                        <span class="tooltiptext">Click to change state</span>
                    </div>
                </form>

            </td>
            <td th:text="${#temporals.format(task.created, 'dd.MM.yyyy HH:mm')}"></td>
            <td>
                <a class="btn btn-warning btn-sm me-1" th:href="@{/{id}(id=${task.id})}">Edit</a>
                <form th:action="@{/{id}/delete(id=${task.id})}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="/tasks/create">Create New Task</a>
</div>

<!-- Bootstrap JS (Optional if you need JavaScript features) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>